<%- include("header", {}) %>
		<div class= "background-comunidad">
			<div class="columnas">
				<div class="principal">
					<div class= "centered-title">
						<h1>Comunidad</h1>
					</div>
				</div>
				<% if(user) { %>
				<div class="secundario">
					<div class= "caja"> 
						<a href= "articulo_comunidad">
							<h3>Publicar <br> ejercicio</h3>
						</a>
					</div>
				</div>
				<% }%>
			</div>
			<div class= "centered-title">
				<h3>Mas Gustados</h3>
			</div>
			<br>
			<div class="container">
				<div id="theCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#theCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#theCarousel" data-slide-to="1"></li>
						<li data-target="#theCarousel" data-slide-to="2"></li>
						<li data-target="#theCarousel" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<a href= "articulo_comunidad">
								<img src="images/img1.jpg" alt="Imagen 1" > 
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p>Usuario 1 </p>
								</div>
							</a>
						</div>
						<div class="item">	
							<a href= "articulo_comunidad">
								<img src="images/img2.jpg" alt="Imagen 2" > 
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p>Usuario 2</p>
								</div>
							</a>
						</div>
						<div class="item">	
							<a href= "articulo_comunidad">
								<img src="images/img3.jpg" alt="Imagen 3" >
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p>Usuario 3</p>
								</div>
							</a>
						</div>
						<div class="item">	
							<a href= "articulo_comunidad">
								<img src="images/img4.jpg" alt="Imagen 4" > 
								<div class="carousel-caption d-none d-md-block">
									<h3> Título del artículo</h3>
									<p> Usuario 4</p>
								</div>
							</a>
						</div>
						<a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">anterior</span>
						</a>
						<a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">siguiente</span>
						</a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="container-recomendaciones">
				<div class= "lefted-title">
					<h1>Recomendaciones de ejercicios</h1>
				</div>
				<div class="container-carousel">
					<div class="columna">
						<div class="row">
							<div class="recomendacion">	
								<div class="imagen-comunidad">
									<img src="images/img5.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<div class="author-name">
										<p>Usuario 1</p>
									</div>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
										<a href= "articulo_comunidad">
											<p>Título 1</p>
											<div class="descripcion">
												<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
											</div>
										</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>	
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img6.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 2</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
									<a href= "articulo_comunidad">
										<p>Título 2</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="columna">
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img7.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 3</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
										<a href= "articulo_comunidad">
											<p>Título 3</p>
											<div class="descripcion">
												<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
											</div>
										</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 4</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
									<a href= "articulo_comunidad">
										<p>Título 4</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="columna">
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 5</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
									<a href= "articulo_comunidad">
										<p>Título 5</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 6</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
									<a href= "articulo_comunidad">
										<p>Título 6</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="columna">
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 7</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
									<a href= "articulo_comunidad">
										<p>Título 7</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="images/img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 8</p>
								</div>
								<div class="titulo-ejercicio">
									<div class="sombreado">
									<a href= "articulo_comunidad">
										<p>Título 8</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									</div>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="columna">
                                                <div class="row">
                                                        <div class="recomendacion">
                                                                <div class="imagen-comunidad">
                                                                        <img src="images/img7.jpg" alt="Imagen de ejercicio">
                                                                        <div class="star-icon">★</div>
                                                                        <p class="author-name">Usuario 3</p>
                                                                </div>
                                                                <div class="titulo-ejercicio">
																	<div class="sombreado">
                                                                        <a href= "articulo_comunidad">
                                                                                <p>Título 3</p>
                                                                                <div class="descripcion">
                                                                                        <p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
                                                                                </div>
                                                                        </a>
																	</div>
                                                                        <div class="reaction-buttons carousel-item">
                                                                                <button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
                                                                                <button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
					</div>
				</div>
			</div>
			<div class="pagination-buttons">
			</div>
		</div>
		<%- include("footer", {}) %>