<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios a Supervisar</title>
    <link rel="stylesheet" href="estilos.css"> <!-- Para enlazar el archivo CSS -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Gymanual</a></li>
                <li><a href="ejercicios.html">Ejercicios</a></li>
                <li><a href="conocenos.html">Conócenos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            <div class="header-right">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit">Buscar</button>
                </div>
                <div class="user-profile" id="profile-icon" onclick="toggleProfileMenu()">
                    <img src="avatar.webp" alt="Foto de perfil" class="profile-pic">
                </div>
                <div class="profile-menu" id="profile-menu">
                    <a  href="iniciosesion.html"  class="username">usuario</a> 
                    <button onclick="window.location.href='editar_perfil.html'">Cambiar Credenciales</button>
                    <button onclick="window.location.href='ejercicios_supervisar.html'">Ejercicios a supervisar</button>
                    <button>Atención al cliente</button>
                    <button>Cerrar cuenta</button>
                    <button onclick="window.location.href='gestion_usuarios.html'">Gestión de usuarios</button>
                    <button>Términos y condiciones</button>
                </div>
            </div>
        </nav>
    </header>

    <script src="script.js"></script>
    <h2 class="exercise-subtitle">Ejercicios a supervisar</h2>
    <h1 class="exercise-title">Lista de ejercicios a validar</h1>

    <div class="exercise-validation">
        <table class="validation-table">
            <tr>
                <td>jorge@gmail.com</td>
                <td><button onclick="window.location.href='ejercicio_a_validar.html'">ver aquí</button></td>
            </tr>
        </table>
    </div>
    <div class="back-button-container">
        <button onclick="window.location.href='index.html'" class="back-button">Volver</button>
    </div>
</body>
</html>
