<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios a Supervisar</title>
    <link rel="stylesheet" href="css/estilos.css"> <!-- Para enlazar el archivo CSS -->
</head>
<body class="fondo-ejer-validar">
    
    <%- include('partials/header') %>
    <script src="js/script.js"></script>
    <h2 class="exercise-subtitle">Ejercicios a supervisar</h2>
    <h1 class="exercise-title">Lista de ejercicios a validar</h1>

    <div class="exercise-validation">
        <table class="validation-table">
            <% if (ejercicios && ejercicios.length > 0) { %>
                <% ejercicios.forEach(ejercicio => { %>
                    <tr>
                        <td><%= ejercicio.autor %></td> <!-- Mostramos el autor del ejercicio -->
                        <td><%= ejercicio.titulo %></td> <!-- Mostramos el título del ejercicio -->
                        <td>
                            <form action="/ejercicio_a_validar" method="get">
                                <input type="hidden" name="ejercicio_id" value="<%= ejercicio.id %>">
                                <button type="submit">Ver aquí</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="3">No hay ejercicios pendientes de supervisar.</td>
                </tr>
            <% } %>
        </table>
        
    </div>

    <div class="back-button-container">
        <button onclick="window.location.href='/'" class="back-button">Volver</button>
    </div>
</body>
</html>

