<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h1>Error</h1>
    <p>Algo salió mal. Por favor, intenta nuevamente más tarde.</p>
</body>
</html>
