<%- include('partials/header') %>
		<div class= "background-comunidad">
			<div class="container-recomendaciones">
				<div class= "lefted-title">
					<h1>Favoritos</h1>
				</div>
				<div class="container-carousel">
					<div class="columna">
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="img5.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<div class="author-name">
										<p>Usuario 1</p>
									</div>
								</div>
								<div class="titulo-ejercicio">
									<a href= "ejercicios.html">
										<p>Título 1</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="img6.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 2</p>
								</div>
								<div class="titulo-ejercicio">
									<a href= "ejercicios.html">
										<p>Título 2</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="columna">
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="img7.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 3</p>
								</div>
								<div class="titulo-ejercicio">
									<a href= "ejercicios.html">
										<p>Título 3</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 4</p>
								</div>
								<div class="titulo-ejercicio">
									<a href= "ejercicios.html">
										<p>Título 4</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="columna">
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 5</p>
								</div>
								<div class="titulo-ejercicio">
									<a href= "ejercicios.html">
										<p>Título 5</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="recomendacion">
								<div class="imagen-comunidad">
									<img src="img8.jpg" alt="Imagen de ejercicio">
									<div class="star-icon">★</div>
									<p class="author-name">Usuario 6</p>
								</div>
								<div class="titulo-ejercicio">
									<a href= "ejercicios.html">
										<p>Título 6</p>
										<div class="descripcion">
											<p>Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativo Texto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativoTexto explicativo</p>
										</div>
									</a>
									<div class="reaction-buttons carousel-item">
										<button class="likeButton reaction-btn">👍 <span class="likeCount">0</span></button>
										<button class="dislikeButton reaction-btn">👎 <span class="dislikeCount">0</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="pagination-buttons">
				</div>
			</div>
			<%- include("footer", {}) %>

