<%- include('partials/header') %>
		<div class= "background-comunidad">
			<div class="container-recomendaciones">
				<div class= "lefted-title">
					<h1>Favoritos</h1>
				</div>
					<%- include('partials/articulos') %>
			</div>
		</div>
<%- include("footer", {}) %> 

