<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		<!-- Customized Bootstrap Stylesheet -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script  type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script  type="text/javascript" src="https://use.fontawesome.com/fe459689b4.js"></script>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
	</head>
	<header>
		<nav>
			<ul>
				<li><a href="/"">Gymanual</a></li>
				<li><a href="ejercicios.html">Ejercicios</a></li>
				<li><a href="conocenos.html">Conócenos</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
			<div class="header-right">
				<div class="search-bar">
					<input type="text" placeholder="Buscar...">
					<button type="submit">Buscar</button>
				</div>
				<div class="user-profile">
					<img src="images/avatar.webp" alt="Foto de perfil" class="profile-pic">
				</div>
			</div>
		</nav>
	</header>
	<body>