<%- include('partials/header') %>

    <link rel="stylesheet" href="css/estilosIS.css">

<body>
  
    <div class="main-container">
        <div class="form-container">
            <h1>Iniciar Sesión</h1>
            <p>Para iniciar sesión, rellena los siguientes campos:</p>
            <form method="POST" action="/iniciosesion" class="login-form">
                <label for="correo_electronico">Correo Electrónico:</label>
                <input type="text" id="correo_electronico" name="correo_electronico" placeholder="Introduce tu correo" required>
                
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="Introduce tu contraseña" required>
                
                <button type="submit">Iniciar Sesión</button>
            </form>
                         
        </div>
    </div>

    <script src="js/script.js"></script>
</body>


</html>