<%- include('partials/header') %>
    <link rel="stylesheet" href="css/estiloperfildef.css">

<body>
    <div class="perfil-section">
        <!-- Circular Image upload -->
        <div class="image-upload">
            <a href="/elegir" class="perfil-link">
                <img id="perfil-image" src="<%= user.imagen_perfil %>" alt="Foto de perfil" class="perfil-pic">
            </a>
        </div>

        <!-- Nombre input -->
        <div class="email">
            <input type="text" id="nombre" value="<%= user.nombre %>" placeholder="Nombre completo">
        </div>

        <!-- Opciones -->
        <div class="options">
            <button class="option" onclick="window.location.href='/ejercicios_supervisar'">Ejercicios Supervisar</button>
            <button class="option">Atención al cliente</button>
            <button class="option" onclick="window.location.href='/iniciosesion'">Cerrar sesión</button>
            <button class="option" onclick="window.location.href='/gestion_usuarios'">Gestión de usuarios</button>
            <button class="option" onclick="window.location.href='/terminos'">Términos y condiciones</button>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/scriptPerfil.js"></script>
</body>
</html>
    