<%- include('partials/header') %>
    <style>
        /* Estilo adicional para el botón cuando está activado en rojo */
        .confirmar-rojo {
            background-color: red;
            color: white;
        }
    </style>
    <link rel="stylesheet" href="css/estiloperfildef.css">

    <div class="perfil-section">
        <!-- Circular Image -->
        <div class="image-upload">
            <a href="/elegir" class="perfil-link">
                <img id="perfil-image" src="<%= user.imagen_perfil %>" alt="Foto de perfil" class="perfil-pic">
            </a>
        </div>
        
        <!-- Email input -->
        <div class="email">
            <input type="text" id="nombre" value="<%= user.nombre %>" placeholder="Nombre completo">
        </div>
    
        <!-- Options -->
        <div class="options">
            <button class="option" onclick="window.location.href='/rutina'">Rutinas</button>
            <button class="option" onclick="window.location.href='/favoritos'">Favoritos</button>
            <button class="option" onclick="window.location.href='/comunidad'">Añadir post</button>
            <button class="option" onclick="window.location.href='/terminos'">Términos y condiciones</button>
            <button class="option" onclick="window.location.href='/iniciosesion'">Cerrar cuenta</button>
            
            <!-- Botón para confirmar cambios que cambiará a rojo -->
            <button id="confirmar-btn" class="option" onclick="confirmar()">Confirmar cambios</button>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/scriptPerfil.js"></script>
    <script>
        // Función que se llama cuando el botón "Confirmar cambios" es presionado
        function confirmar() {
            // Cambiar el color del botón a rojo
            const confirmarButton = document.getElementById("confirmar-btn");
            confirmarButton.classList.add("confirmar-rojo");

            // Recargar la página
            window.location.reload();
        }
    </script>
</body>
</html>
