<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Ejercicio</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Publicar Ejercicio</h1>
        <form action="/ejercicios/guardar-ejercicio" method="post" enctype="multipart/form-data">
            <label for="nombre">Nombre del Usuario:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>
            
            <label for="video">Video o imagen</label>
            <input type="file" id="media" name="media" accept="image/*,video/*" required>
            
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
            
            <button type="submit">Publicar</button>
        </form>
    </main>
</body>
</html>
