<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/estilosRegistro.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Gymanual</a></li>
                <li><a href="/ejercicios">Ejercicios</a></li>
                <li><a href="/conocenos">Conócenos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="header-right">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit">Buscar</button>
                </div>
                <div class="user-profile" id="profile-icon" onclick="toggleProfileMenu()">
                    <img src="images/avatar.webp" alt="Foto de perfil" class="profile-pic">
                </div>
                <div class="profile-menu" id="profile-menu">
                    <a href="/iniciosesion" class="username">usuario</a> 
                    <button onclick="window.location.href='/editar_perfil'">Cambiar Credenciales</button>
                    <button onclick="window.location.href='/ejercicios_supervisar'">Ejercicios a supervisar</button>
                    <button>Atención al cliente</button>
                    <button>Cerrar cuenta</button>
                    <button onclick="window.location.href='/gestion_usuarios'">Gestión de usuarios</button>
                    <button onclick="window.location.href='/terminosycondiciones'">Términos y condiciones</button>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-container">
        <div class="form-container">
            <h1>Registro</h1>
            <p>Para crearse una cuenta rellene los siguientes campos:</p>
            <!-- Cambia la acción para enviar los datos al servidor -->
            <form action="/registro" method="POST">
                <input type="email" name="correo_electronico" placeholder="Correo electrónico" required>
                <input type="text" name="nombre" placeholder="Nombre completo" required>
                <input type="password" name="contrasena" placeholder="Contraseña" required>
                <input type="password" name="confirm_password" placeholder="Repita la contraseña" required>
                <div>
                    <input type="checkbox" name="aceptar_terminos" required>
                    <label for="aceptar_terminos">Acepto los <a href="/terminos" target="_blank">Términos y Condiciones</a></label>
                </div>
                <button type="submit">Finalizar</button>
            </form>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
