<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <p style="color: black; font-size: 16px; margin-top: 10px;"><%= mensaje %></p>
        <button onclick="window.location.href='<%= volverUrl %>'">Volver</button>
    </div>
</body>
</html>
