<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Customized Bootstrap Stylesheet -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/fe459689b4.js"></script>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/">Gymanual</a></li>
            <li><a href="/ejercicios">Ejercicios</a></li>
            <li><a href="/conocenos">Conócenos</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
        <div class="header-right">
            <div class="search-bar">
                <form action="/buscar" method="GET">
                    <input type="text" name="q" placeholder="Buscar..." required>
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <div class="user-profile" id="profile-icon" onclick="toggleProfileMenu()">
                <% if (user) { %>
                    <img src="<%= imagen_perfil %>" id="imagen_perfil" alt="Foto de perfil" class="profile-pic">
                <% } else { %>
                    <img src="/images/avatar.webp" id="imagen_perfil" alt="Foto de perfil" class="profile-pic">
                <% } %>
            </div>
            <div class="profile-menu" id="profile-menu">
                <% if (user) { %>
                    <p class="username"><%= user.nombre %></p>
                <% } else { %>
                    <p class="username">Invitado</p>
                <% } %>
                <div>
                    <% if (user) { %>
                      <a href="/rutinas">Rutinas</a>
                    <% } else { %>
                       <a href="/iniciosesion"> Rutinas</a>
                    <% } %>
                </div>
                <div>
                    <% if (user) { %>
                      <a href="/favoritos">Favoritos</a>
                    <% } else { %>
                       <a href="/iniciosesion">Favoritos</a>
                    <% } %>
                </div>
                <div>
                    <% if (user) { %>
                      <a href="/comunidad">Añadir Post</a>
                    <% } else { %>
                       <a href="/iniciosesion"> Añadir Post</a>
                    <% } %>
                </div>
                 <!-- Comprobación si el usuario es administrador -->
                 <% if (user && user.es_admin) { %>
                    <div>
                        <a href="/ejerciciossupervisar">Ejercicios a Supervisar</a> <!-- Enlace para administradores -->
                    </div>
                    <div>
                        <a href="/atecionclientes">Atención Clientes</a> <!-- Enlace para administradores -->
                    </div>
                <% } %>
                <a href="/iniciosesion">Cerrar Sesión</a>
                <a href="/terminos"> Terminos y condiciones</a> 
            
                </div>
            </div>
        </div>
    </nav>
</header>


