.centered-title h3{
	text-align: center;
	color: white;
	font-size: 36px;
	margin-right: 70px;
	font-weight: bold;
}
.centered-title h2{
	text-align: center;
	color: white;
	font-size: 36px;
	font-weight: bold;
	font-size: 48px;
}
.lefted-title {
	text-align: left;
	color: white;
	font-size: 24px;
	font-weight: bold;
}
.lefted-title h2{
	text-align: left;
	margin-top:30px;
	margin-left:50px;
	color: white;
	font-size: 24px;
	font-weight: bold;
}
.container-recomendaciones{
	margin-left:20px;
}
.caja{
	text-align: center;
	color: white;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 10px;
	border: 3px solid;
	height: 80%;
}
.container-carousel {
	display: grid;
	width: 100%;
	max-height: 425px;
	grid-template-columns: repeat(1000000, 635px);
	transition: transform 0.5s ease;
}
.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-top: 20px;
	margin-left: 10px;
}
.imagen-comunidad {
	flex: 0 0 250px; /* Controla el tamaño de la imagen */
	margin-right: 20px;
	position: relative;
	display: inline-block;
}
.imagen-comunidad img {
	width: 100%;
	height: auto;
	max-height: 125px;
	min-height: 125px;
	display: block;
}
.imagen-comunidad:hover .star-icon {
	opacity: 1;
}
.star-icon.active {
	color: gold;
	opacity: 1;
}
.recomendacion {
	display: flex;
	align-items: center;
}
.background-comunidad{
	background: url('fondo_comunidad.jpg') no-repeat center center fixed; /* Fondo para toda la pantalla */
	background-size: cover;
	overflow:hidden;
}
.centered-title h1{
	text-align: right;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-right: 200px;
	font-size: 48px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 60%; /* Ajusta la altura para llenar el contenedor */
	max-height: 375px;
	min-height: 375px;
	margin: auto;
	object-fit: contain;
}
.descripcion{
	font-family: monospace;
	font-size:small;
	color:white;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5; /* Cambia el número para limitar las líneas */
	overflow: hidden;
	text-overflow: ellipsis; /* Muestra los puntos suspensivos */
}
.titulo-ejercicio{
	text-align: left; 
	font-family: Arial Black; 
	font-weight: bold; 
	font-size: 20px; 
	margin-top: -10px;
	color: #fff; 
	transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 4px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.author-name {
	font-size: 0.9em; /* Tamaño de la fuente del autor */
	color: #ffffff; /* Cambia el color según el diseño */
	margin-top: 5px; /* Espacio entre la imagen y el nombre del autor */
	font-style: italic; /* Opcional: estilo en cursiva */
}
.reaction-buttons {
	display: flex;
	gap: 10px; 
	margin-top: 10px; 
	margin-left:-130px;
}
.reaction-buttons-ariculo {
	display: flex;
	gap: 10px; 
	margin-top: 10px; 
	margin-left:0px;
}
.reaction-btn {
	font-size: 15px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #444;
	color: #fff;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.reaction-btn:hover {
	background-color: #666;
}

.reaction-btn-comentarios {
	font-size: 10px;
	margin-top:15px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #444;
	color: #fff;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.reaction-btn-comentarios:hover {
	background-color: #666;
}
.liked {
	background-color: #4CAF50; /* Cambia el color al hacer "like" */
}

.disliked {
	background-color: #f44336; /* Cambia el color al hacer "dislike" */
}
.star-icon {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 24px;
	color: gray; 
	opacity: 0;
	cursor: pointer;
	transition: color 0.3s ease, opacity 0.3s ease;
	padding: 4px;
	border-radius: 3px;
	background-color: #4B4B4B; /* Fondo para que se vea más */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra cuadrada */
}
.pagination-buttons {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-top: 10px;
}
.pagination-buttons button {
	padding: 5px 10px;
	cursor: pointer;
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.pagination-buttons button.active {
	background-color: #007bff;
	color: white;
}

.caja a {
	color:white;
}
.titulo-ejercicio a {
	text-decoration: none;
}
.titulo-ejercicio:hover {
	background-color: rgba(255, 255, 255, 0.15); /* Fondo claro semi-transparente */
	color: #fff; /* Color de texto en blanco para mayor contraste */
}
.imagen-articulo {
	display: flex;
	justify-content: center;

}
.imagen-articulo img {
	height: auto;
	max-height: 325px;
	min-height: 225px;
}
.margin-left{
	margin-left:340px;
}
.descripcion-articulo {
	width: 90%;
	hyphens: auto;
	word-wrap: break-word;
	font-size: 16px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;

}
#comment-section {
	max-width: 100%;
	margin: 20px auto;
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#comment-form {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}
#comment-input {
	width: 100%;
	height: 80px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}
#comments-container {
	margin-top: 20px;
}
.comment {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}
.comment-content {
	flex: 1;
}
.comment-content p {
	margin: 0;
	font-size: 16px;
	color: #555;
}
.form-submit-button {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
	margin-top:30px;
}
