/* Reseteo de m치rgenes y paddings globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo de la p치gina */
body {
  font-family: Arial, sans-serif;
  margin-top: 60px; /* Evita que el contenido se superponga a la barra de navegaci칩n */
}

/* Barra de navegaci칩n */
header {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
}

header nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Contenedor del calendario */
.calendario-container {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

/* Estilo de encabezado del calendario */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Estilos para el calendario */
.calendario-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.2em;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  margin-bottom: 10px;
}

.dias-mes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.dia {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.dia:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}



